<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @{ 
            var fruits = new List<String> { "Apples", "Bananas", "Oranges", "Mangos" };
            var count = 0;
        }
        <p>Favorite fruits: </p>
        <ul>
            @foreach (String fruit in fruits)
            {
                ++count;
                <li>@count: @fruit</li>
            }
        </ul>
    </body>
</html>
