@model MyWebApp.Models.Product
<html>
<body>
    @Html.ActionLink("Hyperlink 01", "TargetAction")<br />
    @Html.ActionLink("Hyperlink 02", "TargetAction", new { id = Model.ID })<br />
    @Html.ActionLink("Hyperlink 03", "TargetAction", new { name = Model.Name })<br />
    @Html.ActionLink("Hyperlink 04", "TargetAction", "TargetController", new { id = Model.ID }, new { style = "color:red" })<br />
</body>
</html>