@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Hello Beyoncé from the HEADER of RAZOR Page</h1>
<b>The show starts at: @DateTime.Now </b>

<h3>@Configuration["Message"]</h3>