@model HomeIndexViewModel

<p>
    Hi there @Model.Contact.FirstName @Model.Contact.LastName!
    Your Id is @Model.Contact.Id <br />
    You are working for @Model.Customer.CustomerName #@Model.Customer.Id
</p>
