@model Contoso.Models.Contact

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    Hi there @Model.FirstName @Model.LastName!
    Your Id is @Model.Id
</body>
</html>