@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <form action="/home/index" method="get">
        <label for="Id">Id: </label>
        <input type="text" name="Id" value="" />
        <br />
        <label for="FirstName">First name: </label>
        <input type="text" name="FirstName" value="" />
        <br />
        <label for="LastName">Last name: </label>
        <input type="text" name="LastName" value="" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
